# Question 2

a) How many orders were shipped by Speedy Express in total?

Query:

SELECT Shippers.ShipperID, ShipperName, OrderID, OrderDate 
FROM Shippers 
INNER JOIN Orders ON Shippers.ShipperID=Orders.ShipperID 
where Shippers.ShipperName = "Speedy Express";

Answer:

54

b) What is the last name of the employee with the most orders?

Query:

select NameTable.*
from (SELECT LastName, count(*) as ordcnt FROM Employees
inner join Orders on Orders.EmployeeID = Employees.EmployeeID
group by LastName) NameTable,
(select max(CountTable.ordcnt) as highest_cnt from
(SELECT EmployeeID, count(*) as ordcnt FROM Orders
group by EmployeeID) CountTable) maxCount
where NameTable.ordcnt = maxCount.highest_cnt

Answer:

Peacock with 40 orders

c) What product was ordered the most by customers in Germany?

Query:

select query5.* from 
(select ProductName, count(Products.ProductID) as ProductCount from 
(select CustomerID, Country, OrderDetails.OrderID, ProductID from
(select Orders.CustomerID, Country, OrderID from
(SELECT CustomerID, Country FROM Customers
where Country = "Germany") query1
inner join Orders on query1.CustomerID = Orders.CustomerID) query2
inner join OrderDetails on query2.OrderID = OrderDetails.OrderID) query3
inner join Products on query3.ProductID = Products.ProductID
group by ProductName) query5,
(select max(ProductCount) as highest_product from
(select ProductName, count(Products.ProductID) as ProductCount from 
(select CustomerID, Country, OrderDetails.OrderID, ProductID from
(select Orders.CustomerID, Country, OrderID from
(SELECT CustomerID, Country FROM Customers
where Country = "Germany") query1
inner join Orders on query1.CustomerID = Orders.CustomerID) query2
inner join OrderDetails on query2.OrderID = OrderDetails.OrderID) query3
inner join Products on query3.ProductID = Products.ProductID
group by ProductName) query4) maxCount
where query5.ProductCount = maxCount.highest_product

Answer:

Gorgonzola Telino with 5 orders